
<header>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <img src="assets/logo.png" alt="Rick y Morty Logo" class="img-fluid m-3" style="max-width: 300px;" />
      </div>
      <div class="col-12">
        <form [formGroup]="formSearch" class="form-inline my-2 my-lg-0 justify-content-center" (ngSubmit)="filterByName()">
          <input formControlName="searchName" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" style="min-width: 200px;">
          <button class="btn btn-outline-success m-3" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</header>


<div class="container">

    <div class="row">
        <h1 class="my-4">Characters List</h1>
        <hr>
    </div>
    <div class="row justify-content-center">

    @if(arrCharacters.length>0){
        @for(character of arrCharacters; track character.id){

            <div class="card d-flex m-2" style="width: 15rem;">
                <img class="card-img-top" src="{{character.image}}" alt="{{character.name}} image cap">
                <div class="card-body">
                  <h5 class="card-title">{{character.name}}</h5>
                  <div class="card-text">
                    <b>Status: </b>{{character.status}}<br>
                    <b>Specie: </b>{{character.species}}<br>
                    <b>Origin: </b>{{character.origin.name}}<br>
                  </div>
                </div>
              </div>
        }
    }@else{
        <div>Doesn't found your character.</div>
    }

    </div>

</div>
